<pre>{{cakeOrder | json }}</pre>
<pre>{{cakeOrderForm.controls['layers'].controls.length }}</pre>
<pre>{{layers.controls.length }}</pre>
<div class="form">
  <mat-card>
    <mat-card-title>What type of cake would you like?</mat-card-title>
    <mat-card-content>
      <form [formGroup]="cakeOrderForm" novalidate flex nowrap layout="column" align="start">

        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="First Name" formControlName="firstName" required/>
            <mat-error *ngIf="cakeOrderForm.controls['firstName'].hasError('required')">
              First Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" formControlName="lastName" required/>
            <mat-error *ngIf="cakeOrderForm.controls['lastName'].hasError('required')">
              Last Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div flex wrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" required/>
            <mat-error *ngIf="cakeOrderForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="cakeOrderForm.controls['email'].hasError('email')">
              Email is <strong>not valid format</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" formControlName="phoneNum" required/>
            <mat-error *ngIf="cakeOrderForm.controls['phoneNum'].hasError('required')">
              Phone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="Address One" formControlName="address1"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Two" formControlName="address2"/>
          </mat-form-field>
        </div>
        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="City" formControlName="city"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" formControlName="state"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zip Code" formControlName="zipcode"/>
          </mat-form-field>
        </div>
        <div formArrayName="layers" flex wrap layout="row" align="start" col-sm>
          <ng-container *ngIf="(layerSizes$ | async) as layerSizes">
            <ng-container *ngIf="(cakeFlavors$ | async) as cakeFlavors">
              <ng-container *ngIf="(frostingFlavors$ | async) as frostingFlavors">
                <div *ngFor="let layer of layers.controls; let i=index" [formGroupName]="i" flex wrap layout="row"
                     align="start" col-sm="3" no-padding>
                  <!-- Layer Size -->
                  <mat-form-field>
                    <mat-select placeholder="Layer Size" formControlName="layerSize" required>
                      <mat-option>option 1</mat-option>
                      <mat-option>option 2</mat-option>
                      <mat-option *ngFor="let layerSize of layerSizes" [value]="layerSize.id">
                        {{layerSize.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- Cake Flavor -->
                  <mat-form-field>
                    <mat-select placeholder="Cake Flavor" formControlName="cakeFlavor" required>
                      <mat-option *ngFor="let cakeFlavor of cakeFlavors" [value]="cakeFlavor.id">
                        {{cakeFlavor.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- Frosting Flavor -->
                  <mat-form-field>
                    <mat-select placeholder="Frosting Flavor" formControlName="frostingFlavor" required>
                      <mat-option *ngFor="let frostingFlavor of frostingFlavors" [value]="frostingFlavor.id">
                        {{frostingFlavor.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <!-- Description and/or additional Notes -->
                  <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Description and/or additional Notes"
                      formControlName="description" matTextareaAutosize matAutosizeMinRows="1"
                      matAutosizeMaxRows="5"></textarea>
                  </mat-form-field>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="white" flex nowrap layout="row" align="end" col-sm>
          <div flex-item></div>
          <h3 class="black">Add Layer</h3>
          <a mat-fab (click)="addLayer();">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <div flex nowrap layout="row" align="end">
          <button mat-raised-button color="accent" type="submit" (click)="save()">
            Submit for Review
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
