<pre>{{cakeOrder | json }}</pre>
<div class="form">
  <mat-card>
    <mat-card-title>What type of cake would you like?</mat-card-title>
    <mat-card-content>
      <form #f="ngForm" novalidate flex nowrap layout="column" align="start">

        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="First Name" name="firstName" [(ngModel)]="cakeOrder.firstName"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last Name" name="lastName" [(ngModel)]="cakeOrder.lastName"/>
          </mat-form-field>
        </div>
        <div flex wrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="Email" name="email" [(ngModel)]="cakeOrder.email"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone" name="phoneNum" [(ngModel)]="cakeOrder.phoneNum"/>
          </mat-form-field>
        </div>
        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="Address One" name="address1" [(ngModel)]="cakeOrder.address1"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Address Two" name="address2" [(ngModel)]="cakeOrder.address2"/>
          </mat-form-field>
        </div>
        <div flex nowrap layout="row" align="start" col-sm="3">
          <mat-form-field>
            <input matInput placeholder="City" name="city" [(ngModel)]="cakeOrder.city"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="State" name="state" [(ngModel)]="cakeOrder.state"/>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Zip Code" name="zipcode" [(ngModel)]="cakeOrder.zipcode"/>
          </mat-form-field>
        </div>
        <div *ngFor="let layer of cakeOrder.layers" flex wrap layout="row" align="start" col-sm="3">
          <!-- Layer Size -->
          <mat-form-field>
            <mat-select placeholder="Layer Size" name="layerSize" [(ngModel)]="layer.layerSize">
              <mat-option *ngFor="let layerSize of layerSizes | async" [value]="layerSize.id">
                {{layerSize.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Cake Flavor -->
          <mat-form-field>
            <mat-select placeholder="Cake Flavor" name="cakeFlavor" [(ngModel)]="layer.cakeFlavor">
              <mat-option *ngFor="let cakeFlavor of cakeFlavors | async" [value]="cakeFlavor.id">
                {{cakeFlavor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Frosting Flavor -->
          <mat-form-field>
            <mat-select placeholder="Frosting Flavor" name="frostingFlavors" [(ngModel)]="layer.frostingFlavor">
              <mat-option *ngFor="let frostingFlavor of frostingFlavors | async" [value]="frostingFlavor.id">
                {{frostingFlavor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Description and/or additional Notes -->
          <mat-form-field>
            <textarea matInput placeholder="Description and/or additional Notes"
                      [(ngModel)]="layer.description"></textarea>
          </mat-form-field>
        </div>
        <div class="white" flex nowrap layout="row" align="end" col-sm>
          <div flex-item></div>
          <h3 class="black">Add Layer</h3>
          <a mat-fab (click)="addLayer();">
            <mat-icon>add</mat-icon>
          </a>
        </div>
        <div flex nowrap layout="row" align="end">
          <button mat-raised-button color="accent" type="submit" (click)="save(f.value, f.valid)">
            Submit for Review
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
