<mat-toolbar color="primary" flex>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="" class="white no-underline">{{title}}</a>
  <div flex-item></div>
  <a href="mailto:disneynuttt@gmail.com" mat-icon-button class="btn btn-lg">
    <mat-icon>email</mat-icon>
  </a>
  <a href="" mat-icon-button class="btn btn-lg">
    <mat-icon>print</mat-icon>
  </a>
  <a *ngIf="afAuth.authState | async" mat-fab routerLink="order/new" routerLinkActive="hidden">
    <mat-icon>add</mat-icon>
  </a>
  <a *ngIf="afAuth.authState | async" mat-fab routerLink="" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>remove</mat-icon>
  </a>
</mat-toolbar>
