<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let view of views">
        <md-icon md-list-icon>{{view.icon}}</md-icon>
        <span md-line>{{view.name}}</span>
        <span md-line class="secondary">{{view.description}}</span>
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    {{title}}
    <div class="flex-stretch"></div>
    <button md-icon-button class="btn-lg align-end">
      <md-icon>email</md-icon>
    </button>
    <button md-icon-button class="btn-lg align-end">
      <md-icon>print</md-icon>
    </button>
    <button md-fab (click)="formShowing=!formShowing">
      <md-icon>add</md-icon>
    </button>
  </md-toolbar>
</md-sidenav-layout>