<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a *ngIf="!(afAuth.authState | async)" mat-list-item (click)="doLogin(sidenav)">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <span mat-line>Login</span></a>
      <a *ngIf="afAuth.authState | async" mat-list-item (click)="doLogout(sidenav)">
        <mat-icon mat-list-icon>account_box</mat-icon>
        <span mat-line>Logout</span></a>
      <div *ngIf="afAuth.authState | async">
        <pre>{{views | json }}</pre>
        <a mat-list-item *ngFor="let view of views">
          <mat-icon mat-list-icon>{{view.icon}}</mat-icon>
          <span mat-line>{{view.name}}</span>
          <span mat-line class="secondary">{{view.description}}</span>
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <app-title-bar [sidenav]="sidenav"></app-title-bar>
  <router-outlet></router-outlet>
</mat-sidenav-container>
