/* flex */
.flex-stretch {
  flex-grow: 1;
}

.align-end {
  align-self: flex-end;
}

/* buttons */
.btn {
  &.btn-lg {
    font-size: 36px;
    line-height: 64px;
    height: initial;
    width: 64px;

    md-icon {
      font-size: inherit;
      line-height: 0.5;
      vertical-align: middle;
      width: 100%
    }
  }
}