*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.hidden-child {
  > * {
    display: none !important;
  }
}

/* Color */
@import 'styles-source/color';

/* Text */
@import 'styles-source/text';

/* Flex */
@import 'styles-source/flex';

/* Button */
@import 'styles-source/button';

/* Material Design Theme */
@import 'styles-source/theme';