@import '~@angular/material/core/theming/all-theme';
@include md-core();
$primary: md-palette($md-blue);
$accent:  md-palette($md-red, 800, A100, A400);
$warn:    md-palette($md-pink);

$theme: md-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

*,
*:before,
*:after {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.hidden-child {
  > * {
    display: none !important;
  }
}

/* Color */
.white {
  color: #FFF;
}

/* text decoration */
.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

/* Flex */
[flex] {
  display: flex;
  &[wrap] {
    flex-wrap: wrap;
  }
  &[no-wrap] {
    flex-wrap: nowrap;
  }
  &[layout="row"] {
    flex-direction: row;
    &[col-sm] {
      > * {
        position: relative;
        padding: 24px 24px 0 0;
      }
    }
    &[col-sm="1"] {
      > * {
        padding: 24px 24px 0;
        width: 100%;
      }
    }
    &[col-sm="2"] {
      > * {
        width: 50%;
      }
      > *:nth-child(2n+1) {
        padding-left: 24px;
      }
    }
    &[col-sm="3"] {
      > * {
        width: 33.33%;
      }
      > *:nth-child(3n+1) {
        padding-left: 24px;
      }
    }
  }
  &[layout="column"] {
    flex-direction: column;
  }
  &[align],
  &[align="start"] {
    align-items: flex-start;
  }
  &[align="center"] {
    align-items: center;
  }
  &[align="end"] {
    align-items: flex-end;
  }
  [flex-item] {
    flex: 1;
  }
  [align],
  [align="start"] {
    align-self: flex-start;
  }
  [align="center"] {
    align-self: center;
  }
  [align="end"] {
    align-self: flex-end;
  }
}

@media (min-width: 600px) {
  [flex] {
    &[layout="row"] {
      &[col-md] {
        > * {
          position: relative;
          padding: 24px 24px 0 0;
        }
      }
      &[col-md="1"] {
        > * {
          padding: 24px 24px 0;
          width: 100%;
        }
      }
      &[col-md="2"] {
        > * {
          width: 50%;
        }
        > *:nth-child(2n+1) {
          padding-left: 24px;
        }
      }
      &[col-md="3"] {
        > * {
          width: 33.33%;
        }
        > *:nth-child(3n+1) {
          padding-left: 24px;
        }
      }
    }
  }
}

@media (min-width: 960px) {
  [flex] {
    &[layout="row"] {
      &[col-lg] {
        > * {
          position: relative;
          padding: 24px 24px 0 0;
        }
      }
      &[col-lg="1"] {
        > * {
          padding: 24px 24px 0;
          width: 100%;
        }
      }
      &[col-lg="2"] {
        > * {
          width: 50%;
        }
        > *:nth-child(2n+1) {
          padding-left: 24px;
        }
      }
      &[col-lg="3"] {
        > * {
          width: 33.33%;
        }
        > *:nth-child(3n+1) {
          padding-left: 24px;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  [flex] {
    &[layout="row"] {
      &[col-xl] {
        > * {
          position: relative;
          padding: 24px 24px 0 0;
        }
      }
      &[col-xl="1"] {
        > * {
          padding: 24px 24px 0;
          width: 100%;
        }
      }
      &[col-xl="2"] {
        > * {
          width: 50%;
        }
        > *:nth-child(2n+1) {
          padding-left: 24px;
        }
      }
      &[col-xl="3"] {
        > * {
          width: 33.33%;
        }
        > *:nth-child(3n+1) {
          padding-left: 24px;
        }
      }
    }
  }
}

/* buttons */
.btn {
  &.btn-lg {
    font-size: 36px;
    line-height: 64px;
    height: initial;
    width: 64px;

    md-icon {
      font-size: inherit;
      line-height: 0.5;
      vertical-align: middle;
      width: 100%
    }
  }
}